body{
	background-image:url("/images/fond.jpg");
	background-repeat:no-repeat;
}

.conteneur{
	margin:50px;
	margin-top:30px;
	text-align:center;
	font-family:fantasy;
	font-size:20;
	color:#696969;
}

.conteneur a
{
	font-family:fantasy;
	font-size:20;
	color:#696969;
}


.conteneur a:hover{
	font-family:fantasy;
	font-size:20;
	color:#D32606;
}

.recherche{
	position:absolute;
	top:370px;
	left:500px;
}

.recherche a
{
	font-family:fantasy;
	color:#696969;
	text-decoration:none;
}


.recherche a:hover{
	font-family:fantasy;
	color:blue;
}

.recherche h2
{
	font-family:fantasy;
	font-size:20px;
	color:#696969;
	text-decoration:none;
}

.prenom{
	color:#144EC7;
}

.nom{
	color:#D32606;
}

.mail{
	color:#F0B80B;
}

.interets{
	color:#19A220;
}
